<div id="fundo" 
    class="flex w-screen h-screen  bg-dark-green justify-center items-center">
    
    
    <div id="app-area" 
        class="overflow-hidden flex relative flex-col items-center w-[1333px] min-h-[700px] bg-[length:150%] 
        bg-gradient-to-r from-middle-green  via-light-green to-middle-green rounded-2xl"
        [class.animate-slideforward]="ativo==true" 
        [class.animate-slidebackwards]="ativo==false">


        <!-- #TELA INICIAL my-auto -->
        <section class=" flex relative flex-col my-[72px] top-0 bottom-0 items-center w-auto h-full "
        [class.animate-movedivleft]="ativo == true"
        [class.animate-movedivright]="ativo==false">


            <!-- #LOGO I'm feeling lazy  mt-[110px] -->
            <div class="flex  bg-dark-green px-[280px] h-[110px]  rounded-2xl items-center">
                <span class="flex text-white font-normal text-5xl">
                    I'm feeling lazy
                </span>
            </div>

            <!-- #BOTAO GIMME SOMETHING TO DO -->
            <button class="flex items-center justify-center w-[280px] h-[65px] m-8 
                    shadow-3d active:top-[5px] active:relative active:shadow-none  hover:bg-2dark-green font-medium text-xl text-white bg-dark-green rounded-2xl ">
                Gimme something to do 
            </button>

            <!-- #TEMA E OBJETIVO -->
            <div class="flex flex-col w-[800px] h-full space-y-4 mt-4 ">
                <!-- h-[120px] -->
                <div class="flex justify-start p-6 w-full h-[120px] text-2xl font-medium  text-white  bg-dark-green  rounded-2xl">
                    Tema: 
                </div>
                <!-- mb-[10px] h-[160px] -->
                <div class=" justify-start  p-6 w-full h-[160px] text-2xl font-medium text-white bg-dark-green  rounded-2xl">
                    Objetivo: {{show}} <router-outlet></router-outlet>
                </div>
            </div>

        </section>


        <!-- #BOTAO LATERAL -->
        <button class="flex absolute w-[50px] h-[555px] mr-9 right-0 my-auto top-0 bottom-0	justify-center items-center
        text-white font-medium text-4xl bg-dark-green rounded-xl shadow-3d2 active:top-[10px] active:right-[-5px]  active:shadow-none  hover:bg-2dark-green"
                    (click)="animar()" [class.animate-movedivleft]="ativo == true"
                    [class.animate-movedivright]="ativo==false"
        >
            {{ ativo ? '>' : '<' }}
            
        </button>
        <!-- Ao clicar no botão acima, animar a tela de configurações vindo da direita pra 
        esquerda, com o fundo degradê acompanhando, com a parte clara indo pra esquerda e a
        parte escura surgindo da direita. -->



        <!-- #TELA DE CONFIGURAÇÕES -->
        <section class=" left-[1336px] absolute w-[calc(100%-36px-125px)] grow flex flex-col my-[72px] top-0 bottom-0 items-center bg-slate-400/25 "
        [class.animate-movedivleft]="ativo == true"
        [class.animate-movedivright]="ativo==false">

            <!-- #LISTA DE TEMAS -->
            <div class=" flex flex-row w-full p-3 h-auto gap-x-3 bg-red-400/25 ">
                <div class=" flex flex-col items-center justify-center  gap-6 w-max text-lg font-bold ">
                    <span>Tema: </span>
                    <span>Objetivo: </span>
                </div>

                <div class=" grid grid-rows-3 ; p-4 items-center h-28 w-60   bg-slate-400/25 rounded-md ">
                    <span class="truncate hover:text-clip">Exercicio de musculação</span>
                    <div class=" w-full h-[1px] bg-slate-700 "></div>
                    <span class=" h-[3rem] [display:-webkit-box] [-webkit-line-clamp:2] [-webkit-box-orient:vertical] overflow-hidden text-ellipsis hover:text-clip">10 barras, 25 abdominais, 15 flexoes, 15 agachamentos, supino reto reclinado 90° de cabeça pra baixo</span>
                </div>

                <div class=" grid grid-rows-3  p-4 items-center h-28 w-60   bg-slate-400/25 rounded-md ">
                    <span class="truncate hover:text-clip">Punhetinha guiada</span>
                    <div class=" w-full h-[1px] bg-slate-700 "></div>
                    <span class="h-[3rem] [display:-webkit-box] [-webkit-line-clamp:2] [-webkit-box-orient:vertical] overflow-hidden text-ellipsis hover:text-clip">Punhetar ate entortar o pau</span>
                </div>

                <div class=" grid grid-rows-3  p-4 items-center h-28 w-60   bg-slate-400/25 rounded-md ">
                    <span class="truncate hover:text-clip">Levantamento de jumento</span>
                    <div class=" w-full h-[1px] bg-slate-700 "></div>
                    <span class="h-[3rem] [display:-webkit-box] [-webkit-line-clamp:2] [-webkit-box-orient:vertical] overflow-hidden text-ellipsis hover:text-clip">Erguer X jumentos acima da cabeça, até o último esmagar o primeiro</span>
                </div>

                <div class=" grid grid-rows-3  p-4 items-center h-28 w-60   bg-slate-400/25 rounded-md ">
                    <span class="truncate hover:text-clip">Panelinha do bananal</span>
                    <div class=" w-full h-[1px] bg-slate-700 "></div>
                    <span class="h-[3rem] [display:-webkit-box] [-webkit-line-clamp:2] [-webkit-box-orient:vertical] overflow-hidden text-ellipsis hover:text-clip">Speedrun de prisão por pedofilia. Liberado: sequestro, ameaça, chantagem, enganação.</span>
                </div>
            </div>

        </section>



        

    </div>
</div>