/* You can add global styles to this file, and also import other style files */



@tailwind base;
@tailwind components;
@tailwind utilities;


$fa-font-path: "../../../node_modules/font-awesome/fonts";
@import "../node_modules/font-awesome/scss/font-awesome.scss";



@layer components {
    .selected-box {
        @apply bottom-1 relative border-2 border-black rounded-md shadow-3d;
    }

    ;
}

;

@layer components {
    .standard-box {
        @apply border-[1px] border-dark-green shadow-sm rounded-md;
    }
}


//   #SCROLLBAR CONFIG
::-webkit-scrollbar {
    width: 9px;
    /* width of the entire scrollbar */
    height: 9px;
}

*::-webkit-scrollbar-track {
    background: rgba(0, 46, 52, 0.25);
    /* color of the tracking area */
    border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
    background-color: #002e34;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    /* border: 3px solid 002e34;   creates padding around scroll thumb */
}

//   #END SCROLLBAR CONFIG





// input {
//     all: unset;
//     }




//   textarea:focus, input:focus, select:focus {
//     box-shadow: 0 0 0 0;
//     border: 0 none;
//     outline: 0;
// } 